<h1> Welcome <%= @user.name %> </h1>

<% if @user.admin %>
    <p><strong>ADMIN</strong></p>
  <% end %>
<ul>
  <li>Mood: <%=@user.mood%></li>
  <li>Height: <%=@user.height%></li>
  <li>Tickets: <%=@user.tickets%></li>
  <li>Admin? <%=@user.admin%></li>
</ul>
